@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadetwo {
  0%    { opacity: 0; }
  33%   { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes fadethree {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}


* {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
  color: white;
}
.mid {
  text-align: center;
}
img.logo {
  height: 5em;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
img.logo:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
div.nav-links {
  height: 4em;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
div.nav-links.active {
  opacity: 1;
}
div.nav-links:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.t_center {
  text-align: center;
}
#Container {
  width: 100vw;
  height: 100vh;
  background: black;
}
.FullPage, .TransitionPage {
  padding-top: 5vh;
  opacity: 0;

  height: 100vh;
  width: 100vw;

  top: 0;
  position: absolute;
}
.TransitionPage {
  background: white;
}
.centered * {
  text-align: center;
  vertical-align: middle;
}
.centered .container {
  height: 100%;
}
.TransitionPage {
  text-align: center;
  padding-top: 40vh;
}
div#LoadingPage {
  position: absolute;
  vertical-align: middle;
  padding-top: 40vh;
  height: 100vh;
  width: 100vw;
  background: white;
}

.animOne {
  display: block;
  animation: fadein 2s;
}
.animTwo {
  display: block;
  animation: fadetwo 3s;
}
.animThree {
  display: block;
  animation: fadethree 4s;
}

.dispNone {
  opacity: 0;
}


.Home{
  display: none;
  /*background: url('imgs/logo.png');*/
  /*background: url('imgs/road_ground_o.jpg');*/
  /*background-size: cover;
  background-position-x: center;*/


  color: rgba(255,255,255,0.8);
}
img#Logo {
  position: absolute;
  opacity: 0;
}
.Home .container {
  margin-top: 20vh;
}
.scrollContinue {
  color: rgba(255,255,255,0.7);
  position: absolute;
  top: 90vh;
  width: 100%;
}
.scrollContinue img {
  height: 2em;
}


.About{
  display: none;
  /*background: url('imgs/about.png');*/
  background-size: cover;
  background-position-x: left;
  color: RGB(0,0,0);
}
.recommendations .name {
  font-size: 1em;
  color: rgba(0,0,0,0.9);
}
.recommendations .title {
  color: gray;
  font-size: 0.75em;
}
.recommendations .description {
  max-height: 20vh;
  color: rgba(0,0,0,0.9);
}
.c_white {
  color: rgba(255, 255, 255, 0.8);
}
.t_black {
  color: rgba(0,0,0,0.9);
}
.rec {
  color: white;
}
p.ap_text {
    font-size: 1.5em;
    color: white;
}
div#about_flashes {
  position: fixed;

  font-size: 10em;
  white-space: nowrap;
  color: rgba(255,255,255, 0.1);
}
div.about_links .title {
  color: rgba(255,255,255,1);
  font-size: 0.75em;
}
div.about_links .links {
  color: rgba(255,255,255,0.6);
  font-size: 1em;
}

.Projects{
  display: none;
  /*background: url('imgs/fence_o.jpg');*/
  background: transparent;
  background-size: cover;
  background-position-x: center;
}
.Projects .project {
  background: rgba(100, 100, 100, 0.1);
  padding: 1em;
  border-radius: 1em;
}
.Projects .project .title { 
  color: black;
  font-size: 1.5em;
  text-align: center;
}
.Projects .project .img img {
  width: 100%;
}
.Projects .project .project_img img {
  width: 100%;
}
.Projects .project .description {
  color: white;
}
#pp_title {
  text-align: center;
}
#pp_title:hover {
  transition: 1s ease-in-out;
  color: rgba(255,255,255,0.6);
}
#pd_img {
  border-radius: 5px;
  border: 1px rgba(100, 100, 100, 0.8);
}
.Projects .project_selector {
  color: rgba(255,255,255,0.7);
  background: rgba(100,100,100,0.7);
}
.Projects .project_selector.active {
  color: rgba(0,0,0,1);
  background: rgba(255,255,255,0.3);
}
.Projects .project_selector:hover {
  color: rgba(100,100,100,0.7);
  background: white;
  cursor: pointer;
}
h5#pd_name {
  color: white;
}