@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadetwo {
  0%    { opacity: 0; }
  33%   { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes fadethree {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}


* {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
  color: white;
}
img.logo {
  height: 5em;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
img.logo:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.t_center {
  text-align: center;
}
#Container {
  width: 100vw;
  height: 100vh;
  background: black;
}
.FullPage, .TransitionPage {
  padding-top: 5vh;
  opacity: 0;

  height: 100vh;
  width: 100vw;

  top: 0;
  position: absolute;
}
.TransitionPage {
  background: white;
}
.centered * {
  text-align: center;
  vertical-align: middle;
}
.centered .container {
  height: 100%;
}
.TransitionPage {
  text-align: center;
  padding-top: 40vh;
}
div#LoadingPage {
  position: absolute;
  vertical-align: middle;
  padding-top: 40vh;
  height: 100vh;
  width: 100vw;
  background: white;
}

.animOne {
  display: block;
  animation: fadein 2s;
}
.animTwo {
  display: block;
  animation: fadetwo 3s;
}
.animThree {
  display: block;
  animation: fadethree 4s;
}

.dispNone {
  opacity: 0;
}


.Home{
  display: none;
  /*background: url('imgs/logo.png');*/
  /*background: url('imgs/road_ground_o.jpg');*/
  /*background-size: cover;
  background-position-x: center;*/


  color: rgba(255,255,255,0.8);
}
img#Logo {
  position: absolute;
  opacity: 0;
}
.Home .container {
  margin-top: 20vh;
}
.scrollContinue {
  color: rgba(255,255,255,0.7);
  position: absolute;
  top: 90vh;
  width: 100%;
}
.scrollContinue img {
  height: 2em;
}


.About{
  display: none;
  /*background: url('imgs/about.png');*/
  background-size: cover;
  background-position-x: left;
  color: RGB(0,0,0);
}
.recommendations .name {
  font-size: 1em;
  color: rgba(0,0,0,0.9);
}
.recommendations .title {
  color: gray;
  font-size: 0.75em;
}
.recommendations .description {
  max-height: 20vh;
  color: rgba(0,0,0,0.9);
}
.c_white {
  color: rgba(255, 255, 255, 0.8);
}
.t_black {
  color: rgba(0,0,0,0.9);
}
.rec {
  color: white;
}

.Skills{
  display: none;
  background: url('imgs/river.gif');
  background-size: cover;
  background-position-x: center;
  color: gray;
}
.Projects{
  display: none;
  background: url('imgs/fence_o.jpg');
  background-size: cover;
  background-position-x: center;
}
.Projects .project {
  background: rgba(100, 100, 100, 0.1);
  padding: 1em;
  border-radius: 1em;
}
.Projects .project .title { 
  color: black;
  font-size: 1.5em;
  text-align: center;
}
.Projects .project .img img {
  width: 100%;
}
.Projects .project .project_img img {
  width: 100%;
}
.Projects .project .description {
  color: white;
}
#pp_title {
  text-align: center;
}
#pp_title:hover {
  transition: 1s ease-in-out;
  color: rgba(255,255,255,0.6);
}
#pd_img {
  border-radius: 5px;
  border: 1px rgba(100, 100, 100, 0.8);
}
.Projects .project_selector {
  color: rgba(255,255,255,0.7);
  background: rgba(100,100,100,0.7);
}
.Projects .project_selector.active {
  color: rgba(100,100,100,0.7);
  background: rgba(255,255,255,0.3);
}
.Projects .project_selector:hover {
  color: rgba(100,100,100,0.7);
  background: white;
  cursor: pointer;
}


.Contact{
  display: none;
  background: url('imgs/night_o.jpg');
  background-size: cover;
  background-position-x: center;
  padding-top: 20vh;
}
.Contact a {
  color: rgba(255,255,255,0.8);
}
.Contact a:hover {
  transition: 0.5s ease-in-out;
  color: gray;
}
.Contact i.contact {
  font-size: 8em;
}
.Contact h1 {
  color: white;
}
.Contact * {
  text-align: center;
}